/* Import roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Begin reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* End reset */

body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-color: #eee;
}

#wrapper {
  text-align: center;
  margin: 0 2em;
  padding: 0.5em;
  background-color: #1e90ff;
  border: 5px solid #fff;
  border-radius: 0.5em;
  color: #fff;
  font-size: 64px;
}

h1 {
  text-align: center;
  font-size: 3em;
  margin: 1em 0;
}
