/* Begin reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* End reset */

body {
  background-image: url("./city-landscape.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#clockContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
}

#clock {
  font-family: monospace;
  font-size: 7rem;
  font-weight: bold;
  width: 100%;
  color: #fff;
  text-align: center;
  backdrop-filter: blur(3px);
  background-color: hsla(0, 0%, 100%, 0.1);
}
