/* Import roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Begin reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* End reset */

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
}

h1 {
  font-size: 3rem;
  color: #333;
  margin: 1em 0;
}

.sw {
  font-family: monospace;
  font-size: 3.5rem;
  color: #333;
}

.container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;
  background-color: #fff;
  border: 3px solid #000;
  border-radius: 1em;
  padding: 2em;
}

.btns-container {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  padding: 0.5em 1.2em;
  border-radius: 0.4em;
  border: none;
}

.start {
  background-color: #0f0;
}
.stop {
  background-color: #f00;
}
.reset {
  background-color: #00f;
}
.start:hover {
  background-color: hsl(120, 100%, 65%);
}
.stop:hover {
  background-color: hsl(0, 100%, 65%);
}
.reset:hover {
  background-color: hsl(240, 100%, 65%);
}
.start:active {
  background-color: hsl(120, 100%, 85%);
}
.stop:active {
  background-color: hsl(0, 100%, 85%);
}
.reset:active {
  background-color: hsl(240, 100%, 85%);
}
