/* Import roboto font */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Begin reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* End reset */

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 20px;
  background-color: #eee;
}

h1 {
  color: #333;
}

#options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.option {
  font-size: 3rem;
  background-color: hsl(210, 100%, 50%);
  height: 80px;
  width: 80px;
  border-radius: 50%;
  border: 1px solid #333;
  padding: 0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.option:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: hsl(210, 100%, 60%);
}
.option:active {
  background-color: hsl(210, 100%, 70%);
}

.choice {
  font-size: 1.2rem;
  font-weight: bold;
}

.score {
  font-size: 0.8rem;
  font-weight: bold;
}

#result {
  font-size: 3rem;
  font-weight: bold;
}

.win {
  color: green;
}

.lose {
  color: rgb(255, 0, 0);
}

.tie {
  color: black;
}

#playerScoreText {
  color: green;
}

#computerScoreText {
  color: rgb(255, 0, 0);
}
